#mainbanner {
  position: relative;
  top: 180px;
  height: 550px;
  background-size: cover;
}

#mainbanner li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-display: block;
}

#mainbanner li img {
  width: 1320px;
  height: 550px;
}

.container {
  position: relative;
  top: 200px;
  height: 1400px;
}

.container .items img {
  width: 500px;
  height: 500px;
}
