.mainbanner {
  position: relative;
  top: 180px;
  height: 550px;
  background: url("../img/main_banner.jpg") no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  top: 200px;
  height: 1400px;
}

.container .items img {
  width: 500px;
  height: 500px;
}
