html, body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #666666;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #a83d4f;
  transition: .5s;
}

a:hover {
  color: #a83d4f;
}

.box {
  display: flex;
}

.box .items {
  box-sizing: border-box;
  padding: 50px;
  flex: 100%;
  flex-shrink: 0;
  font-size: 18px;
}

.box .items .title {
  font-size: 26px;
}

.box .items img {
  width: 100%;
}

.box.items_2 .items {
  flex: 50%;
}

.gbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #a83d4f;
  color: white;
  border: 1px solid #a83d4f;
}

.gbtn:hover {
  color: #a83d4f;
  background: white;
}

#wrap {
  width: 1320px;
  margin: 0 auto;
}

#wrap #header {
  position: relative;
  height: 60px;
}

#wrap #header #top_logo {
  position: absolute;
  left: 32%;
  top: 15%;
}

#wrap #header #top_nav {
  position: absolute;
  top: 260%;
  height: 60px;
  border-top: 1px dotted #a83d4f;
  border-bottom: 1px dotted #a83d4f;
}

#wrap #header #top_nav ul {
  position: relative;
  float: left;
  display: flex;
}

#wrap #header #top_nav ul li {
  position: relative;
  float: left;
}

#wrap #header #top_nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  height: 60px;
  margin-left: 150px;
  color: #666666;
}

#wrap #header #top_nav ul li:last-child {
  margin-right: 175px;
}

#wrap #header #top_nav ul li:first-child {
  margin-left: 43px;
}

#wrap #footer {
  margin-top: 50px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-top: 1px solid #a83d4f;
  color: #a83d4f;
}

#mainbanner {
  position: relative;
  top: 180px;
  height: 550px;
  background-size: cover;
}

#mainbanner li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-display: block;
}

#mainbanner li img {
  width: 1320px;
  height: 550px;
}

.container {
  position: relative;
  top: 200px;
  height: 1400px;
}

.container .items img {
  width: 500px;
  height: 500px;
}

body.subpage main .container {
  top: 220px;
}

body.subpage main .container p {
  text-align: center;
}

body.subpage main #story img {
  position: absolute;
  left: 16%;
}

body.subpage main #story .pinkcolor {
  font-size: 20px;
  color: #a83d4f;
  font-weight: bold;
}

body.subpage main #story .story_text {
  text-align: center;
  left: 45%;
  top: -1%;
  position: relative;
  border: 1px dotted #a83d4f;
  padding: 10px;
  width: 110px;
}

body.subpage main #look .container .look_list {
  position: absolute;
  left: 9%;
  top: 10%;
  padding: 20px;
  width: 315px;
  border: 1px dotted #a83d4f;
}

body.subpage main #look .container .look_list ul {
  display: inline-block;
  width: 100px;
}

body.subpage main #look .container .look_list ul li img {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

body.subpage main #look .container .look_text {
  position: absolute;
  top: -1%;
  left: 45%;
  border: 1px dotted #a83d4f;
  padding: 10px;
  width: 110px;
}

body.subpage main #look .container .img_box {
  position: absolute;
  top: 8.8%;
  left: 40%;
}

body.subpage main #look .container .img_box img {
  width: 80%;
  height: 80%;
}

body.subpage main #dress .dress_text, body.subpage main #outer .dress_text {
  position: absolute;
  top: -1%;
  left: 45%;
  border: 1px dotted #a83d4f;
  padding: 10px;
  width: 110px;
}

body.subpage main #dress .dress_list, body.subpage main #outer .dress_list {
  height: 1100px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 8%;
}

body.subpage main #dress .dress_list ul, body.subpage main #outer .dress_list ul {
  display: flex;
  padding-left: 20px;
}

body.subpage main #dress .dress_list ul li, body.subpage main #outer .dress_list ul li {
  padding: 10px;
  padding-bottom: 20px;
}

body.subpage main #dress .dress_list ul li img, body.subpage main #outer .dress_list ul li img {
  width: 300px;
}

body.subpage main #dress .dress_list ul li img:hover, body.subpage main #outer .dress_list ul li img:hover {
  -webkit-transform: scale(1.1);
  transition: .2s;
}

body.subpage main #dress .dress_list ul li p, body.subpage main #outer .dress_list ul li p {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
