//서브페이지
body.subpage{
  main{
    .container{
      top: 220px;
      p{ text-align: center;
      }
    }
      #story{
        img{
          position: absolute;
          left: 16%;
        }
        .pinkcolor{
          font-size: 20px; color: $fontColorPrimary;
          font-weight: bold;
        }
        .story_text{ text-align: center; left: 45%; top: -1%; position: relative;
          border: 1px dotted $fontColorPrimary; padding: 10px; width: 110px;
        }

      }


    #look{
      .container{
        .look_text{
          position: absolute; top: -1%; left: 45%;
          border: 1px dotted $fontColorPrimary; padding: 10px; width: 110px;
        }
        .swiper-container {
          width: 80%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          top: 120px;
        }
        .swiper-slide {
          background-size: cover;
          background-position: center;
        }
        .gallery-top {
          height: 60%;
          width: 80%;
        }
        .gallery-thumbs {
          height: 5%;
          box-sizing: border-box;
          padding: 10px 0;
        }
        .gallery-thumbs .swiper-slide {
          width: 20%;
          height: 100%;
          opacity: 0.4;
        }
        .gallery-thumbs .swiper-slide-thumb-active {
          opacity: 1;
        }

    }

  }

  #dress, #outer{
    .dress_text{
      position: absolute; top: -1%; left: 45%;
      border: 1px dotted $fontColorPrimary; padding: 10px; width: 110px;
    }
    .dress_list{
      height: 100%;
      position: absolute;top: 8%;

      ul{
        display: flex;
        padding-left: 20px;
        li{ padding: 10px; padding-bottom: 20px;
          img{
            width: 300px;
            &:hover{
              -webkit-transform:scale(1.1); transition: .2s;
            }
          }

          p{ width: 300px; padding: 5px; box-sizing: border-box;
            overflow: hidden; text-align: center;
          }
        }

      }
    }

  }
}
}
