//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #ffffff;

//font color
$fontColorBasic: #666666;
$fontColorPrimary: #a83d4f;
$fontColorHover: #a83d4f;

//border color
$borderColorPrimary:  #a83d4f;

//button color
$gbtnColor: #a83d4f;
$gbtnColorHover: #e3a936;
